<%= form_for([@transaction.account, @transaction]) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messtx_directions.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :check %><br />
    <%= f.text_field :check %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :is_cleared %><br />
    <%= f.check_box :is_cleared %>
  </div>
  
  <div class="field">
    <%= f.label :transferAccount_id %>
    <%= f.collection_select(:transferAccount_id, Account.without_account(@transaction.account), :id, :name) %>
  </div>
  <%= f.hidden_field(:isTransfer) %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
