<div class="account_title"><%= account.name %></div>
<div class='transactions'>
<table class="table table-striped table-bordered ">
  <thead>
    <tr>
      <td>Num</td>
      <td>Date</td>
      <td>Chk #</td>
      <td>Payee</td>
      <td>Amount</td>
      <td>Category</td>
      <td>Note</td>
      <td>Balance</td>
    </tr>
    </thead>
    <tbody>
      <% balance = 0 %>
      <% i=0 %>
      <% @transactions.each do |transaction| %>
        <% balance += transaction.amount
           i += 1 %>
    	<tr>
    		<td><%= i %></td>
    		<td><%= transaction.date %></td>
    		<td><%= transaction.check %></td>
    		<td><%= transaction.description %></td>
    		<td><%= number_to_currency(transaction.amount) %></td>
    		<td><%= transaction.category %></td>
        <td><%= transaction.note %></td>
    		<td><%= number_to_currency(balance) %></td>
        <td align="center">
              <%= link_to 'Edit', edit_account_transaction_path(transaction.account, transaction) %>
              <%= link_to 'Destroy', [transaction.account, transaction], confirm: 'Are you sure?', method: :delete %></td>
    	</tr>
     <% end %>
 </tbody>  
</table>

</div>
