<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= best_in_place @account, :name %>
</p>

<p>
  <b>Description:</b>
  <%= best_in_place @account, :description %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
