
<p>
	<b>Account: </b>
	<%= best_in_place @account, :name %>
</p>
<p>
	<b>Description: </b>
	<%= best_in_place @account, :description %>
</p>
<p>
	<b>Starting Balance: </b>
	<%= best_in_place @account, :starting_balance %>
</p>


<%= link_to 'New Transaction', new_account_transaction_path(@account) %> 
<%= link_to 'Edit', edit_account_path(@account) %> 
<%= link_to 'Back', accounts_path %>

